/* Body */
body {
  font-family: "Lato", sans-serif;
  color: #2d3c49;
}

/*.crop {
  height: 205px;
  overflow: hidden;
}

.crop-img {
  width: 300px;
  max-height: 900px;
}*/

.featured-title {
  color: #7d97ad;
  font-weight: 300;
}

.logo-image {
  max-width: 100px;
  max-height: 100px;
}

.name {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 100;
}

.name-header {
  text-align: right;
}

.responsive-img {
  max-width: 100%;
}

.style {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border-top: 3px solid #7d97ad;
}

.subtitle {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.7rem;
}
